{% extends '__base__.html' %}

{% block title %}创建项目{% endblock %}

{% block beforehead %}

<script>

var
    ID = '{{ id }}',//从jinja2渲染获取，在=handlers里面
    action = '{{ action }}';

function initVM(project) {
    var vm = new Vue({
        el: '#vm',
        data: project,
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm').find('form');
                $form.postJSON(action, this.$data, function (err, r) {
                    if (err) {
                        $form.showFormError(err);
                    }
                    else {
                        return location.assign('/manage/projects');
                    }
                });
            }
        }
    });
    $('#vm').show();
}

$(function () {
    if (ID) {
        getJSON('/api/projects/' + ID, function (err, project) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(project);
        });
    }
    else {
        $('#loading').hide();
        initVM({
            project_id: this.project_id,
            project_name: this.project_name,
            //project_stage: this.project_stage,
            //project_DocIsOk: this.project_DocIsOk,
            prpject_level: this.project_level
        });
    }
});

</script>

{% endblock %}

{% block content %}

    <!--<div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                &lt;!&ndash;li><a href="/manage/comments">评论</a></li&ndash;&gt;
                <li><a href="/manage/projects">项目</a></li>
                &lt;!&ndash;li><a href="/manage/users">用户</a></li&ndash;&gt;
            </ul>
        </div>
    </div>-->

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-2-3">
        <form v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">项目编号:</label>
                <div class="uk-form-controls">
                    <input v-model="project_id" name="project_id" type="text" placeholder="项目编号" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">项目名称:</label>
                <div class="uk-form-controls">
                    <input v-model="project_name"  name="project_name" placeholder="项目名称" class="uk-width-1-1" ></input>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">项目级别:</label>
                <div class="uk-form-controls">
                    <input v-model="project_level"  name="project_level" placeholder="项目级别" class="uk-width-1-1" ></input>
                </div>
            </div>
            <!--<div class="uk-form-row">-->
                <!--<label class="uk-form-label">项目阶段:</label>-->
                <!--<div class="uk-form-controls">-->
                    <!--<input v-model="project_stage"  name="project_stage" placeholder="项目阶段" class="uk-width-1-1" ></input>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="uk-form-row">-->
                <!--<label class="uk-form-label">项目文档是否齐全:</label>-->
                <!--<div class="uk-form-controls">-->
                    <!--<input v-model="project_docFlag"  name="project_docFlag" placeholder="项目文档是否齐全" class="uk-width-1-1" ></input>-->
                <!--</div>-->
            <!--</div>-->

            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
                <a href="/manage/projects" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
        </form>
    </div>

{% endblock %}
